.linechart {
  background-color: white;
  padding: 1%;
  border-radius: 20px;
  height: 36vh;
  flex: 2 1 auto;
  overflow-y: scroll;
}
.linechart .canvasjs-chart-canvas {
  width: 90%;
  height: 30vh;
}
#canvasjs-react-chart-container-1 {
  height: 30vh !important;
}
.heading-activites {
  display: flex;
  justify-content: space-between;
}
.heading-activites select {
  color: #858585;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  border: 0px;
}
