.schedule{
    background-color: white;
    border-radius: 20px;
    width: 45%;
    margin: 1%;
    padding:1%;
    margin-right: 0px;
    height:30vh;
}
.schedule p{
    margin: 2%;
}
.box1{
    border-left:5px solid #9BDD7C;
    padding-left: 5px;
}
.box2{
    border-left:5px solid  #6972C4;
    padding-left: 5px;
}