.home{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:100%;
    background-color: #F5F5F5;
}
.content1{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-self: flex-start;
    padding:5px;
    max-height:100%;
    margin: 1%;;
}
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.content2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.home h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
}