.home{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.content1{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-self: flex-end;
    margin: 2%;
    max-height:100%;
}
.content2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}