.piechart{
    width: 45%;
    height: 30vh;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin: 1%;
    padding:1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.piechart .canvasjs-chart-canvas{
    height: 25vh !important;
    width:90% !important;
}
#canvasjs-react-chart-container-3{
    height: 25vh !important;
}
.canvasjs-chart-credit{
    visibility: hidden;
}
.heading{
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
.heading select{
    color: #858585;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    border: 0px;
}