.cards{
    display: flex;
    flex-direction: row;
}
.cards p{
    margin: 1%;
}
.card{
    margin: 10px;
    width: 22%;
    height:fit-content;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 2%;
}

.value{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
